
.forward_list {
  position: fixed;
  display: block;
  top: 0;
  left: 50%;
  visibility: hidden;
  opacity: 0;
  width: 500px;
  pointer-events: auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 10px;
  overflow: hidden;
  z-index: 100;
  transform: translate(-50%, 0);
  transition: transform .3s ease-out, opacity .15s linear;
}

.forward_list.show {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 100px);
}

.forward__overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  transition: transform .3s ease-out, opacity .15s linear;
}

.forward__overlay.show {
  visibility: visible;
  opacity: .5;
  z-index: 10;

}

.forward__overlay.hidden {
  visibility: hidden;
  opacity: 0;
}

.forward__common__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(28, 157, 234, .15);
  border-bottom-color: #eff1f2;
  padding: 20px 35px;
}

.forward__common__header h5 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 700;
  color: #1c9dea;
  text-transform: capitalize;
}

.forward__common__header button {
  border: none !important;
  outline: none !important;
  background: transparent !important;
}

.forward__common__content {
  padding: 10px 20px;
}

.forward__common__form {
  padding: 15px;
}

.forward__common__form__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 40px;
  gap: 12px;
}

.forward__common__form__container input {
  border: 1px solid #eff1f2 !important;
  outline: none !important;
  flex: 1;
  font-size: 14px;
  border-radius: 5px;
  max-height: 40px;
  min-height: 40px;
  padding: 5px 10px;
}

.forward__common__form__container button {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: none !important;
  outline: none !important;
  font-size: 14px;
  position: relative;
}

.forward__common__form__container button p {
  position: absolute;
  top: 100%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 5px 15px;
  background: #ccc;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
}

.forward__common__message {
  padding: 0 15px;
  display: flex;
  gap: 8px;
}

.forward__common__message span:first-child {
  font-weight: 500;
  font-size: 14px;
  display: inline-block;
}

.forward__common__message span:last-child {
  font-weight: 500;
  font-size: 14px;
  width: max-content;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.forward__common__message img {
  height: 50px;
  width: auto;
  display: block;
}

.forward__common__list {
  margin: 0 15px 15px;
  padding: 0;
  overflow-y: auto;
  max-height: 350px;
  height: 350px;
  display: block;
}

.forward__common__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px 12px 0;
}

.forward__common__item__content {
  display: flex;
  align-items: center;
  gap: 16px;
}


.forward__common__item__status {
  font-size: 14px;
  padding: 4px 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border: none;
  border-radius: 5px;
  background-color: rgba(28, 157, 234, .15) !important;
  color: #1c9dea !important;
}

.forward__common__item__status:hover {
  background-color: rgba(63, 204, 53, .15);
  color: #1c9dea;
}


.forward__common__list::-webkit-scrollbar {
  width: 10px;
}

.forward__common__list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.forward__common__list::-webkit-scrollbar-thumb {
  background: #888;
}

.forward__common__list::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.forward__users__item__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}

.forward__users__item__avatar img {
  width: 100%;
  border-radius: 50%;
}

.forward__users__item__name {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}
.forward__icon.hidden{
  display: none;
}
.forward__icon.show{
  display: block;
}
