.notification{
  width: 100%;
  padding-bottom: 10px;
  padding-top: 5px;
  color: red!important;
  font-size: 12px;
  margin-bottom: 0px!important;
  transition:padding-bottom 0.1s ease-in-out;
  margin-left: 5px;
  font-weight: bold;
}

